<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <button @click="checkAnti">反选</button>
    <button @click="checkAll">全选</button>
    <button @click="checkNone">全不选</button>

    喜好:
    <div v-for="item in inputArr">
      {{item.text}} : <input type="checkbox" value="" v-model="item.checked" >
    </div>

  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  new Vue({
    el: "#app",
    data: function () {
      return {
        inputArr: [
          { text: '足球', checked: true },
          { text: '篮球', checked: false },
          { text: '羽毛球', checked: false },
          { text: '游泳', checked: false },
        ],
      }
    },
    methods: {
      checkNone() {
        this.inputArr.forEach(item => {
          item.checked = false;
        });
      },
      checkAll() {
        this.inputArr.forEach(item => {
          item.checked = true;
        });
      },
      checkAnti() {
        this.inputArr.forEach(item => {
          item.checked = !item.checked;
        });
      }
    }
  })
</script>

</html>